<div id="donate">
    <div>
        Please give crow money he needs it to keep up the site and for food to survive uwu
    </div>
    
    <div id="crypto">
        <div id="monero">
            Monero
            <div>
                42FMTvCNnzHj4X6qLViHxeCULj3k1F95yHF2sZortAUtXgvcyAYEY4BdaPgaeieeJu2ZATRrXMsseVcRKon2qSmaAZjAiAa
            </div>
            <img src="/monero_wallet.png" alt="">
        </div>
    </div>
</div>