<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheCrowStudios</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 id="title">TheCrowStudios</h1>

    <div id="websites">
        <div>
            <a href="//filedump.thecrowstudios.com">
                <h2>File Dump</h2>
                <div>
                    <img src="directory_closed-4.png" alt="">
                </div>
            </a>
            
            Dump all your files!
        </div>
        
        <div>
            <a href="//guncrow.thecrowstudios.com">
                <h2>Gun Crow</h2>
                <div>
                    <img src="desktop-icon-512.png" alt="">
                </div>
            </a>

            The most insane game about Crow
        </div>
    </div>

    <%- include("_donate.ejs") %>

    <div id="contact">
        Contact me at

        <div>
            thecrowstudios#2844
        </div>

        <div>
            thecrowstudios@protonmail.com
        </div>
    </div>
</body>
</html>